<div class="container">
    <div class="row">
        <div class="col-md 5 offset-md-3">
            <div class="card card-body bg-dark p-4 text-white">
                <h4 class="text-center">Actualizar productos</h4>
                <form action="/productos/{{productos._id}}/update" method="POST">
                    <div>
                        <label for="clave">Clave: </label>
                        <input type="text" name="clave" placeholder="Clave" value="{{productos.clave}}" class="form-control bg-dark text-white" autofocus/>
                    </div>
                    <br>
                    <div>
                        <label for="marca">Marca: </label>
                        <input type="text" name="marca" placeholder="Marca" value="{{productos.marca}}" class="form-control bg-dark text-white"/>
                    </div>
                    <br>
                    <div>
                        <label for="precio">Precio: </label>
                        <input type="text" name="precio" placeholder="Precio" value="{{productos.precio}}" class="form-control bg-dark text-white"/>
                    </div>
                    <br>
                    <div>
                        <label for="fechaLanzamiento">Fecha de lanzamiento: </label>
                        <input type="date" name="fechaLanzamiento" placeholder="Fecha de lanzamiento" value="{{productos.fechaLanzamiento}}" class="form-control bg-dark text-white"/>
                    </div>
                    <br>
                    <div>
                        <label for="ram">RAM: </label>
                        <input type="text" name="ram" placeholder="RAM" value="{{productos.ram}}" class="form-control bg-dark text-white"/>
                    </div>
                    <br>
                    <div>
                        <label for="almacenamiento">Almacenamiento: </label>
                        <input type="text" name="almacenamiento" placeholder="Almacenamiento" value="{{productos.almacenamiento}}" class="form-control bg-dark text-white"/>
                    </div>
                    <br>
                    <div>
                        <label for="cantidadCamaras">Cantidad de cámaras: </label>
                        <input type="text" name="cantidadCamaras" placeholder="Cantidad de cámaras" value="{{productos.cantidadCamaras}}" class="form-control bg-dark text-white"/>
                    </div>
                    <br>
                    <button class="btn btn-success btn-lg mt-2"id="btnAct">Actualizar</button>
                    <button class="btn btn-success btn-lg mt-2"id="btnVolv">Regresar</button>
                </form>
            </div>
        </div>
    </div>
</div>